@font-face {
    font-family: 'Sf Black';
    src: url('../../Fonts/sf-ui-black.otf');
}
@font-face {
    font-family: 'Sf Bold';
    src: url('../../Fonts/sf-ui-bold.otf');
}
@font-face {
    font-family: 'Sf Light';
    src: url('../../Fonts/sf-ui-light.otf');
}
@font-face {
    font-family: 'Sf Medium';
    src: url('../../Fonts/sf-ui-medium.otf');
}
@font-face {
    font-family: 'Sf Semibold';
    src: url('../../Fonts/sf-ui-semibold.otf')
}
*{
    margin: 0;
    padding: 0;
}
.BgPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* .ContainerBg{
    display: flex;
    /* justify-content: center; */
    /* background-color: #FFFFFF; */
    /* margin: 0% 10% 0% 10%; */
    /* width: 90%; */
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.CardBox{
    width: 15vw;
    height: auto;
    /* border: 0.2px solid #FF4D21; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sf Medium';
    /* color: #303030; */
    /* margin-left: 5%; */
    /* justify-content: center; */
    padding-bottom: 8%;
    background-color: #FFFFFF;
    margin-bottom: 10%;
}

.CardName{
    color: #FF4D21;
    text-transform: capitalize;
    display: flex;
}

.CardTypes{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    color: #303030;
    text-transform: uppercase;
    font-family: 'Sf Medium';
    /* font-size: 1rem; */
    padding: 2%;
}
.CardType{
    display: flex;
    justify-content: space-evenly;   
    padding: 5px 10px;
    margin: 10px 2px 10px 2px;
    border-radius: 10px;
    background: cyan;
    color: #fff;
}
.CardWeight{
    font-family: 'Sf Medium';
    font-size: 1rem;
    color: #303030;
    display: flex;
}
.titles{
    font-family: 'Sf Semibold';
    font-size: 1.2rem;
    color: #303030;
    display: flex;
}

.CardAbility{
    text-transform: capitalize;
    display: flex;
}